/* Overall Page Styles */

html, body {
    height: 100%;
    background-color: #F7F8FC;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1,
h2,
a {
    font-family: 'Hind', sans-serif;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* Section Class Styles */

.section {
    width: 100%;
}

.section .content {
    max-width: 90%;
    margin: auto;
}

.section-header {
    color: #4E4F55;
    font-size: 3em;
    text-align: center;
    border-bottom: solid 2px #4E4F55;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

/* Title Section Styles */

#title-section .content {
    margin-top: 5%;
}

#title-section-name {
    font-size: 8.5em;
    line-height: 0.9em;
    margin-bottom: 0;
}

#title-section-subtitle,
#icon-row {
    margin-top: 0.3em;
    margin-bottom: 0;
    padding-bottom: 0.1em;
}

#title-section-subtitle {
    font-weight: 300;
    font-size: 3em;
    line-height: 0.9em;
    float: left;
}

#icon-row {
    float: right;
}

#icon-row * {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#icon-row img {
    width: 50px;
    height: 50px;
    padding: 0 3px 0 3px;
}

/* Navigation Bar Styles */

a.nav-element:hover {
    text-decoration: underline;
}

a.nav-element:active {
    text-decoration: underline;
}

nav {
    background-color: #8197EF;
    height: 100%;
    width: 100%;
}

nav .content {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav-element {
    font-size: 2em;
    padding: 0.1em 0.5em 0.1em 0.5em;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-element * {
    margin: 0;
    padding: 0;
}

/* About Section Styles */
