html, body {
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section {
    width: 90%;
}

#title-section {
    margin-top: 5%;
}

#title-section h1 {
    font-size: 8.5em;
    line-height: 0.9em;
    margin-bottom: 0px;
}

#title-section h2 {
    font-size: 3em;
    font-weight: 300;
    line-height: 0.9em;
    margin-top: 0.3em;
}

h1,
h2,
a {
    font-family: 'Hind', sans-serif;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a.nav-element:hover {
    text-decoration: underline;
}

a.nav-element:active {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: auto;
    min-width: 50%;
}

.nav-element {
    font-size: 2em;
    padding-left: 1.1em;
}

#github-logo,
#linkedin-logo,
#email-icon {
    width: 1.8em;
    height: 1.5em;
}