@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";
@import url("https://fonts.googleapis.com/css?family=Faustina&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

/* Start joecowman.com styles */

// Colors
$off-white: #fafafa;
$dark-slate: #1f2024;

$page-bg: $off-white;

$text-primary: $dark-slate;
$text-primary-80: adjust-color($text-primary, $alpha: -0.2);
$text-primary-50: adjust-color($text-primary, $alpha: -0.5);

// Fonts
$page-serif: "Faustina", serif;
$page-mono: "Roboto Mono", monospace;

html {
  background-color: $page-bg;
}

body {
  font-family: $page-serif;
  color: $text-primary;
}

.navbar {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
}

.navbar-item {
  font-size: 19px;
  color: $text-primary-80;
}

#main-title {
  font-size: 145px;
  margin-bottom: -10px;
}

.main-subtitle {
  font-size: 45px;
  font-family: $page-mono;
  letter-spacing: -0.75px;
  color: $text-primary-80;

  &-second {
    @extend .main-subtitle;
    margin-bottom: 120px;
  }
}

.enter-site {
  font-size: 25px;
  a {
    color: $text-primary-50;
  }
  a:hover {
    color: $text-primary-80;
  }
}

.enter-site-arrow-container {
  width: 100%;
  text-align: center;
  margin-top: 7px;
}
