@import ../all

h1
  font-size: 64px
  font-weight: 300

p
  font-size: 24px

  a
    color: $ivory
    font-weight: bold
    text-decoration: none
  a:hover
    color: $gold

.wowDiv
  h1
    margin-bottom: 0px

#welcome
  float: left
  margin-top: 18%
  max-width: 50%

#sideContent
  margin-left: 53%

#feed
  display: none
  position: relative
  color: black
  height: 80%
  width: 80%
  margin: auto
  top: 80px

#resume
  display: none
  margin-top: 10%
  height: 80%
