body{
	background-color:#cfcfe1;
}

body div{
	margin: auto;
	width: 1000px;
}

.header {
	text-align: center;
	font-size: 42px;
	font-family: Impact, sans-serif;
}

.content{
	background-color: #F0F0F6;
	border: 2px solid black;
	border-radius: 20px;
	padding: 10px;
}